# Prerequisites
*.d


# Visual Studio files
x64/*
.vs/
.vscode/

#Git ignore file for NKU_InFollows/backend

NKU_InFollows/backend/python-3.12.6-embed-amd64/
NKU_InFollows/backend/we-mp-rss/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
